**Dictionary**
- We already seen many inbuilt Data types
- String
- List
- Tuple
- Set
- Dictionary
- int float bool complex
- range
- bytes
- eval is not a data type

In [1]:
# By using lambda list reduce
str=b'hello'
type(str)

bytes

In [ ]:
string=''
list=[]
tuple=()
set={}
dictionary={key:value}

**Zip**

In [3]:
names = ['Ramesh','Dinesh','Nagesh']
age = [25,22,24]
for i,j in zip(names,age):
    print(i,j)

Ramesh 25
Dinesh 22
Nagesh 24

In [4]:
list(zip(names,age))

[('Ramesh', 25), ('Dinesh', 22), ('Nagesh', 24)]

In [5]:
# dict1={<key>:<value>}
# names=['Ramesh','Suresh','Satish']
# age=[20,25,30]
# 'Ramesh' is the key ===== 20 its related value
dict1={'Ramesh':20,'Suresh':25,'Satish':30}
type(dict1)

dict

In [ ]:
# If the list are of different length?
# If both lists are different length
# zip will not work

- initialization
- type
- max
- min
- len
- reversed
- sorted
- in
- index
- mutable
- concate
- slicing
- methods

**Create all type of dictionaries**

In [14]:
# String with string is possible
names = ['Ramesh','Dinesh','Nagesh']
name = ['Dinesh','Nagesh','Ramesh']
for i,j in zip(names,name):
    print(i,j)

Ramesh Dinesh
Dinesh Nagesh
Nagesh Ramesh

In [15]:
names = [20,30,40]
name = [30,40,20]
for i,j in zip(names,name):
    print(i,j)

20 30
30 40
40 20

In [16]:
names = ['Ramesh','Dinesh','Nagesh']
age = [25,22,24]
for i,j in zip(age,names):
    print(i,j)

25 Ramesh
22 Dinesh
24 Nagesh

In [19]:
names = ('Ramesh','Dinesh','Nagesh')
age = (25,22,24)
for i,j in zip(age,names):
    print(i,j)

25 Ramesh
22 Dinesh
24 Nagesh

In [23]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
d2={'Dinesh':'25','Nagesh':'35','Akhil':'45'}
d3={25:'Dinesh',35:'Nagesh',45:'Akhil'}
d4={25:35}
d5={'Fruits':['Apple','Cherry']}
d7={('Apple','Cherry'):'Fruits'}
d8={'Dinesh':25,'Dinesh':35}
d9={25:'Dinesh',35:'Dinesh'}
d10={'Fruits':{10,'Apple'}}
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)
print(d7)
print(d8)
print(d9)
print(d10)

{'Dinesh': 25, 'Nagesh': 35, 'Akhil': 45}
{'Dinesh': '25', 'Nagesh': '35', 'Akhil': '45'}
{25: 'Dinesh', 35: 'Nagesh', 45: 'Akhil'}
{25: 35}
{'Fruits': ['Apple', 'Cherry']}
{('Apple', 'Cherry'): 'Fruits'}
{'Dinesh': 35}
{25: 'Dinesh', 35: 'Dinesh'}
{'Fruits': {'Apple', 10}}

In [24]:
d6={['Apple','Cherry']:'Fruits'}
d6

TypeError: unhashable type: 'list'

**Keys are important**
- Keys have only latest values
- No duplicate values
- Keys should be only one
- Values can be duplicate
- Which means different keys can have same value
- List can not be a key, Because list are mutable
- Tuple can be a key, Because tuples are immutable

In [30]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
d2={'Dinesh':'25','Nagesh':'35','Akhil':'45'}
d3={25:'Dinesh',35:'Nagesh',45:'Akhil'}
d4={25:'Dinesh',35:'Nagesh','45':'Akhil'}
d5={'Dinesh':25,'Nagesh':'35','Akhil':45}
d6={'Dinesh':25,'Nagesh':25,'Akhil':25}
d7=d3={25:'Dinesh',25:'Nagesh',25:'Akhil'}
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)
print(d6)
print(d7)

{'Dinesh': 25, 'Nagesh': 35, 'Akhil': 45}
{'Dinesh': '25', 'Nagesh': '35', 'Akhil': '45'}
{25: 'Akhil'}
{25: 'Dinesh', 35: 'Nagesh', '45': 'Akhil'}
{'Dinesh': 25, 'Nagesh': '35', 'Akhil': 45}
{'Dinesh': 25, 'Nagesh': 25, 'Akhil': 25}
{25: 'Akhil'}

In [8]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
d2={'Dinesh':'25','Nagesh':'35','Akhil':'45'}
d3={25:'Dinesh',35:'Nagesh',45:'Akhil'}
d4={25:'Dinesh',35:'Nagesh','45':'Akhil'}
d5={'Dinesh':25,'Nagesh':'35','Akhil':45}
d6={'Dinesh':25,'Nagesh':25,'Akhil':25}
d7={25:'Dinesh',25:'Nagesh',25:'Akhil'}
d8={'Dinesh':25,'Nagesh':35,'Akhil':45,'Vinay':''}
print(max(d1))
print(max(d2))
print(max(d3))
print(max(d5))
print(max(d6))
print(max(d7))
print(max(d8))

Nagesh
Nagesh
45
Nagesh
Nagesh
25
Vinay

**Reversed**
- You might have think dictionary will reverse
- When you apply reversed, you got to know
- Only keys will come in reverse

In [6]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
list(reversed(d1))

['Akhil', 'Nagesh', 'Dinesh']

In [7]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
list(sorted(d1))

['Akhil', 'Dinesh', 'Nagesh']

In [9]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
list(sorted(d1,reverse=True))

['Nagesh', 'Dinesh', 'Akhil']

In [10]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
for i in d1:
    print(i)

Dinesh
Nagesh
Akhil

In [11]:
'Dinesh' in d1

True

**Index**

In [12]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
# If you want retrive the values
# Python will never give 'Dinesh':25
d1[0]

KeyError: 0

In [14]:
d1['Dinesh']

25

In [18]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
# Dictionary is key:value pair
# We can not use index number directly
# Whenever you want to call a value, we will use key
d1['Dinesh']

25

In [25]:
for i in d1:
    print(f"{i} has age {d1[i]}")

Dinesh has age 25
Nagesh has age 35
Akhil has age 45

**Dictionary to list**

In [28]:
l1=[]
l2=[]
for i in d1:
    l1.append(i)
    l2.append(d1[i])
print(l1)
print(l2)

['Dinesh', 'Nagesh', 'Akhil']
[25, 35, 45]

In [33]:
l1=[i for i in d1]
l2=[d1[i] for i in d1]
print(l1)
print(l2)

['Dinesh', 'Nagesh', 'Akhil']
[25, 35, 45]

**How to create a empty list**

In [35]:
l1=[]
l1.append(123)
l1

[123]

**Empty string**

In [36]:
s=''
s+='Dinesh'
s

'Dinesh'

**Empty Dictionary**

In [37]:
# d={}
# d[<Key>]=<value>
d={}
d['Dinesh']=22
d

{'Dinesh': 22}

In [46]:
l1=['Dinesh','Nagesh','Akhil']
l2=[22,24,26]
d={}
for i in range(len(l1)):
    d[l1[i]]=l2[i]
d

{'Dinesh': 22, 'Nagesh': 24, 'Akhil': 26}

In [48]:
l1=['Dinesh','Nagesh','Akhil']
l2=[22,24,26]
d={}
for i,j in zip(l1,l2):
    d[i]=j
d

{'Dinesh': 22, 'Nagesh': 24, 'Akhil': 26}

**String to list**

In [49]:
str='hello hai hai how are are you'
str.split()

['hello', 'hai', 'hai', 'how', 'are', 'are', 'you']

**Word Frequency**

In [57]:
str='hello hai hai how are are you'.split()
l1=[]
l2=[]
d={}
for i in str:
    d[i]=str.count(i)
    if i not in l1:
        l1.append(i)
        l2.append(str.count(i))
print(l1)
print(l2)
d

['hello', 'hai', 'how', 'are', 'you']
[1, 2, 1, 2, 1]

{'hello': 1, 'hai': 2, 'how': 1, 'are': 2, 'you': 1}

In [66]:
string='Data science is an interdisciplanary academic field a that uses the field'.split()
string.remove('a')
string.remove('an')
string.remove('the')
string.remove('is')
string

['Data',
 'science',
 'interdisciplanary',
 'academic',
 'field',
 'that',
 'uses',
 'field']

**Mutable-Immutable**
- Change the elements using index
- But in dictionary there is no index
- In dictionary we will change the value based on key only
- Instead of using the index, change the values using key
- if it is change it is mutable
- if it is not change it is immutable

In [67]:
d1={'Dinesh':25,'Nagesh':35,'Akhil':45}
d1['Nagesh']=30
d1

{'Dinesh': 25, 'Nagesh': 30, 'Akhil': 45}

- List and Dictionary are mutable
- Tuples and strings are immutable
- Difference between list and tuple

In [71]:
d={'Fruits':['Mango','Apple']}
d['Fruits'][1]

'Apple'

In [75]:
d={'Fruits':[{'Apple':['Kashmir']}]}
d['Fruits'][0]['Apple'][0]

'Kashmir'

In [81]:
d={'Fruits':[
    {'Apple':
     {'Kashmir':
     ['India'
     ]
     }
    }
   ]
 }

d['Fruits'][0]['Apple']['Kashmir'][0]

'India'

In [3]:
d={'Fruits':{'Benganapalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruits']['Benganapalli']['Mango']['Nagpur']['MH']['Shivaji']

{'Shambaji'}

**Dictionary Methods**

In [1]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items-keys-values**

In [10]:
d={'Dinesh':25,'Nagesh':35,'Akhil':45}
d.items()

dict_items([('Dinesh', 25), ('Nagesh', 35), ('Akhil', 45)])

In [11]:
d.keys()

dict_keys(['Dinesh', 'Nagesh', 'Akhil'])

In [12]:
d.values()

dict_values([25, 35, 45])

In [47]:
k=list(d.values())
k.append(20)
k

[25, 35, 45, 20]

In [51]:
list[d.keys()]

list[dict_keys(['Dinesh', 'Nagesh', 'Akhil'])]

**Method-1**

In [52]:
d={'Dinesh':25,'Nagesh':35,'Akhil':45}
keys=[]
values=[]
for i in d:
    keys.append(i)
    values.append(d[i])
print(keys)
print(values)

['Dinesh', 'Nagesh', 'Akhil']
[25, 35, 45]

**Method-2**

In [53]:
d={'Dinesh':25,'Nagesh':35,'Akhil':45}
list(d.keys()),list(d.values())

(['Dinesh', 'Nagesh', 'Akhil'], [25, 35, 45])

**Method-3**

In [54]:
d.items()

dict_items([('Dinesh', 25), ('Nagesh', 35), ('Akhil', 45)])

In [59]:
for i in d.items():
    print(i)

('Dinesh', 25)
('Nagesh', 35)
('Akhil', 45)

In [58]:
keys,values=[],[]
for i,j in d.items():
    print(i,j)
    keys.append(i)
    values.append(d[i])
print(keys)
print(values)

Dinesh 25
Nagesh 35
Akhil 45
['Dinesh', 'Nagesh', 'Akhil']
[25, 35, 45]

In [64]:
d.fromkeys('Vinay',40)

{'V': 40, 'i': 40, 'n': 40, 'a': 40, 'y': 40}

In [15]:
d={'Dinesh':25,'Nagesh':35,'Akhil':45}
d.update({'Nagesh':30})
d

{'Dinesh': 25, 'Nagesh': 30, 'Akhil': 45}

In [16]:
d={'Dinesh':25,'Nagesh':35,'Akhil':45}
dict.fromkeys(d,25)

{'Dinesh': 25, 'Nagesh': 25, 'Akhil': 25}