**TYPE CASTING**
- Convert one data type to another data type is called as type casting.
- Which means we wants to convert integer
 - integer type to all other(float,str,bool) data types
 - float type to all other(int,str,bool) data types
 - str type to all other(int,float,bool) data types
 - bool type to all other(int,float,str) data types

**Integer to other data types**

$int-float$

In [1]:
n1=1.5
type(n1)

float

In [2]:
bool(n1)

True

In [3]:
str(n1)

'1.5'

In [4]:
float(n1)

1.5

**NOTE**
- Integer = 0, then only boolean will become False
- Otherwise for any positive number or any negative number it becomes True

**Float to another data type**

In [6]:
n1=1.2
print(int(n1))
print(bool(n1))
str(n1)

1
True

'1.2'

**String to another data type**

In [14]:
n1='bat'
n2='1'
n3='1.2'
int('1.2')

ValueError: invalid literal for int() with base 10: '1.2'

In [40]:
float('1.2')

1.2

In [41]:
bool('1.2')

True

- Float is the boss
- Which means float of any value either it is integer in strings format
- Or float in strings format will works
- But integer will works only for integer in strings format ( int('1')) this works
- Integer type casting will fail for float in strings format (int('1.2')) this fails

In [4]:
bool('0') # There is a value inside the single qoutes so it gives the output as True

True

In [5]:
bool() # There is no value inside the expression so it gives the output as False

False

In [45]:
bool(0)

False

- Empty string of boolean give False
- False means nothing either 0 or empty string

**Boolean to other data types**

In [47]:
n1=True
int(n1)

1

In [48]:
float(n1)

1.0

In [49]:
str(n1)

'True'

In [50]:
n1=False
int(n1)

0

In [51]:
float(n1)

0.0

In [52]:
str(n1)

'False'

In [57]:
n1=0
n2=1.2
n3='bat'
n4=True
n5=False
# Integer to other data types
print(type(n1))
print(float(n1))
print(str(n1))
print(bool(n1))
# Float to other data types
print(int(n2))
print(str(n2))
print(bool(n2))
# Bool to other data types
print(int(n4))
print(float(n4))
print(str(n4))
print(int(n5))
print(float(n5))
print(str(n5))

<class 'int'>
0.0
0
False
1
1.2
True
1
1.0
True
0
0.0
False

In [58]:
n1=0
n2=1.2
n3='bat'
# Str to other data types
print(int('0'))
print(float('0'))
print(bool('0'))
print(int('1.2'))
print(float('1.2'))
print(bool('1.2'))
print(int('bat'))
print(float('bat'))
print(bool('bat'))

0
0.0
True

ValueError: invalid literal for int() with base 10: '1.2'