**Data Types**
- In python type declare not required
- Python will automatically take the type based on provided value
- We have many data types available
- The main data types are
   - integer
   - float
   - boolean
   - string
- List
- Dictionary
- Tuple
- Complex

**INTEGER**

In [1]:
n=1
type(n)

int

- binary representation
- octa representation
- hexa representation

**Binary Representation**
- bi means 2
- so it requires 2 digits
- Generally we have 0 1 2 3 4 5 6 7 8 9
- So it will represent only with 0 and 1
- The correct representation is 0b10,0b111
- Wrong representation is 0b102 # 2 should not include because binary is combination of 0 and 1

- ob111
- Binary calculation start from right to left
- If it starts with '0b' which represents it is a binary number
- We have to calculate in a order 2^0,2^1,2^2,----,2^n from right to left and multiply with their respective 0's and 1's

In [9]:
0b101 # This represents binary code of 101 is 5

5

In [5]:
import os

In [6]:
os.getcwd() # It get the current working directory
# It will show the path of our python file located

'C:\\Users\\Dinesh Reddy\\Documents\\NARESH IT\\PYTHON\\PYTHON_SESSION2_DATATYPES'

In [ ]:
#NUMBERS WITH THEIR BINARY CODES OF 4 2 1 CODE
4 2 1   num    
0 0 0    0
0 0 1    1
0 1 0    2
0 1 1    3 
1 0 0    4
1 0 1    5
1 1 0    6
1 1 1    7

In [ ]:
# NUMBERS WITH THEIR BINARY CODES OF 8 4 2 1 CODE
8 4 2 1    Num
0 0 0 0     0
0 0 0 1     1
0 0 1 0     2
0 0 1 1     3
0 1 0 0     4
0 1 0 1     5
0 1 1 0     6
0 1 1 1     7
1 0 0 0     8
1 0 0 1     9
1 0 1 0     10
1 0 1 1     11
1 1 0 0     12
1 1 0 1     13
1 1 1 0     14
1 1 1 1     15

**OCTAL**
- octa means 8
- so it requires 8 digits
- Generally we have 0 1 2 3 4 5 6 7 8 9
- So it will represent only with 0 1 2 3 4 5 6 7
- The correct representation is 0o123,0o17654321
- Wrong representation is 0o108,0o987 # 8,9 should not include because octa is combination of 0 1 2 3 4 5 6 7

In [12]:
0o123 # Octa calculation start from right to left
#If it starts with '0o' which represents it is a octa number
# We have to calculate in a order 8^0,8^1,8^2,----,8^n from right to left and multiply with their respective 0 1 2 3 4 5 6 7

83

**HEXA**
- Hexa means 16
- so it requires 16 digits
- Generally we have 0 1 2 3 4 5 6 7 8 9 A(10) B(11) C(12) D(13) E(14) F(15)
- So it will represent only with 0-9 A-F
- The correct representation is 0xF9,0x123abc,0xabc
- Wrong representation is 0xGH,0XABCDEFG # G,H should not include because Hexa is combination of 0-9 A-F

In [13]:
0xabc # Hexa calculation start from right to left
#If it starts with '0x' which represents it is a hexa number
# We have to calculate in a order 16^0,16^1,16^2,----,16^n from right to left and multiply with their respective 0-9 A-F

2748

**FLOAT**

In [15]:
num=12.3 # Float is nothing but if there is value after the decimal value then it is a considered as a float value.
type(num)

float

In [17]:
1e1,1e2,1e3,1e4 # kep = k(10^p)

(10.0, 100.0, 1000.0, 10000.0)

In [25]:
1e+1,1e+2,1e+3,1e+4 # '+' Positive means multiply (ke+p = k(10^p))

(10.0, 100.0, 1000.0, 10000.0)

In [26]:
24e-1,24e-2,24e-3,24e-4 # '-' Negative means division ( ke-p = k/(10^p))

(2.4, 0.24, 0.024, 0.0024)

**Strings**
- Strings are used to represent the english characters generally 
- Strings will represent in 
   - Single quotes
   - Double quotes
   - Triple quotes

In [32]:
name="Dinesh"
print(name)
print(type(name))

Dinesh
<class 'str'>

- **RED COLOUR MEANS STRINGS**
- **GREEN COLOUR MEANS KEYWORDS**
- **BLACK COLOUR MEANS VARIABLES**

In [36]:
name='python'
names="Dinesh"
name

'python'

In [37]:
names

'Dinesh'

**From the above code we know that output always in single quotes**

In [34]:
name='python'
names="Dinesh"
print(name)
print(names)

python
Dinesh

**From the above code we see if we print the string values it will give the output with no quotes**

In [40]:
name=' Hello "world"'
print(name)

 Hello "world"

**Entire string in double quotes the highlighted word in a single quote vice versa**

***TRIPLE QUOTES***
- Triple quotes is not used for coding
- Triple quotes is used to provide the information to the user
- In order to provide the information in jupyter notebook we will markdown
- In VScode or pycharm there is no markdown option
- Thatswhy the world start used to write the information in triple quotes
- This entire process is called **Doc String**

In [44]:
"""
Hello
My Name is
Dinesh Reddy
"""

'\nHello\nMy Name is\nDinesh Reddy\n'

**BOOLEAN**

In [46]:
n1=True
n2=False
print(type(n1))
print(type(n2))

<class 'bool'>
<class 'bool'>

In [47]:
true="True"
false=False
print(type(true))
print(type(false))

<class 'str'>
<class 'bool'>

**From the above code we see true and false are variables and True is in double quotes so it is a string and False is a boolean**