- representation
- type
- len
- max
- min
- sum
- sorted
- reversed
- in
- for loop with in
- index
- for loop with index
- mutable and immutable
- slicing
- concatenation
- Methods

In [3]:
dir(())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Representation**
- A tuple is represented with parenthesis()

In [7]:
l=(1,2,3,4,5)
print(l)
type(l)

(1, 2, 3, 4, 5)

tuple

In [5]:
l1=('A','b','C','d','2','3')
l1

('A', 'b', 'C', 'd', '2', '3')

In [8]:
l2=(2,3,6,6,5)
print(len(l2))
print(max(l2))
print(min(l2))
print(sorted(l2))
output=reversed(l2)
for i in output:
    print(i,end=" ")

5
6
2
[2, 3, 5, 6, 6]
5 6 6 3 2

In [12]:
l=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
print(l[3:9:2])
print(l[3:9:-2])
print(l[3:-9:2])
print(l[-3:9:2])
print(l[-3:-9:2])
print(l[-3:9:-2])
print(l[-3:-9:-2])

(4, 6, 'B')
()
(4,)
()
()
('E',)
('E', 'C', 'A')

**len**
- It displays the length of the tuple

In [15]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
len(tup)

13

**max**
- It gives the maximum value in the tuple
- It will not gives output when we print maximum value in combination of numbers ans strings

In [19]:
tup=(1,2,3,4,5,6)
print(max(tup))
tup1=('A','B','C','D','E','F','G')
max(tup1)

6

'G'

In [20]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
max(tup)

TypeError: '>' not supported between instances of 'str' and 'int'

**min**
- It gives the minimum value in the tuple
- It will not gives output when we print minimum value in combination of numbers ans strings

In [21]:
tup=(1,2,3,4,5,6)
print(min(tup))
tup1=('A','B','C','D','E','F','G')
min(tup1)

1

'A'

In [22]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
min(tup)

TypeError: '<' not supported between instances of 'str' and 'int'

**sum**
- sum operand will sum all the values in the tuple and display the total sum as output
- sum will works only on the numbers

In [23]:
tup=(1,2,3,4,5,6)
sum(tup)

21

**sorted**
- **Note**
- sorting gives ascending order based on ASCII numbers
- sorted is kind of a function
- Every function we have arguments
- In that one default argument is **reverse=False**
- By default sorted output gives **ascending order**
- We can change the order, by providing **reverse=True**
- **If we do not mention, it will give the default answer**

In [37]:
tup=(6,3,5,7,2,5)
sorted(tup,reverse=True)

[7, 6, 5, 5, 3, 2]

In [38]:
tup=(6,3,5,7,2,5)
sorted(tup,reverse=False)

[2, 3, 5, 5, 6, 7]

In [28]:
tup1=('D','E','A','S','R','T')
sorted(tup1)

['A', 'D', 'E', 'R', 'S', 'T']

In [30]:
tup=(6,3,5,7,2,5,'D','E','A','S','R','T')
sorted(tup)

TypeError: '<' not supported between instances of 'str' and 'int'

**reversed**
- It reverse the tuple

In [34]:
tup=(1,2,3,4,5,6)
a=reversed(tup)
for i in a:
    print(i,end=' ')

6 5 4 3 2 1

In [36]:
tup1=('D','E','A','S','R','T')
a=reversed(tup1)
for i in a:
    print(i,end=' ')

T R S A E D

**in**
- in operator directly access the letters

In [43]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
5 in tup

True

**for loop with in**

In [42]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
for i in tup:
    print(i,end=" ")

1 2 3 4 5 6 A B C D E F G

**index**
- Index meaning a number attached to a letter
- In python index starts with zero
- We have two directions
   - Positive direction
     - Positive numbers starts with zero
   - Negative direction
     - Negative numbers starts with -1, applicable to last letter

In [54]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
tup[1],tup[4],tup[9],tup[8]

(2, 5, 'D', 'C')

**for loop with index**

In [50]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
for i in range(len(tup)):
    if i==5:
        print(tup[i],end=" ")

6

**mutable-immutable**
- Tuple is immutable i.e. it will not change the values once we added the values in a tuple

In [51]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
tup.append(0)

AttributeError: 'tuple' object has no attribute 'append'

**slicing**
- we can cut into pieces
- similar to range concept
- start,stop,step here also

In [58]:
tup=(1,2,3,4,5,6,'A','B','C','D','E','F','G')
tup[0:]

(1, 2, 3, 4, 5, 6, 'A', 'B', 'C', 'D', 'E', 'F', 'G')

**Concatenation**
- This add the two tuples by using '+' operator

In [61]:
tup=(1,2,3,4,5,6)
tup1=('A','B','C','D','E','F','G')
tup+tup1

(1, 2, 3, 4, 5, 6, 'A', 'B', 'C', 'D', 'E', 'F', 'G')

**Methods**
- There are count method and index method
- The count method will count how many times is the value repeated in the tuple
- Return number of occurrences of value.
- The index will return first index of value.

In [67]:
tup=(1,2,3,4,5,6,5,4,3,4,6,7)   # tup.count(value, /)
tup.count(4)

3

In [65]:
tup=(1,2,3,4,5,6,5,4,3,4,6,7) # tup.index(value, start=0, stop=9223372036854775807, /)
tup.index(3,3)

8