**Lambda Functions**
- Lambda functions represents function concept
- But we can write in a single line
- Like list comprehension, lambda functions similar only
- It will decrease the time complexity
- Always remember if we use many for loops or many conditions using multiple line, the time complexity will increase

**It will use a keyword lambda**

# lambda<arguments>: <expression>

In [1]:
def summ(n):
    return(n+10)
summ(10)

20

$Pattern-1$

**Function with only one argument**
- function name
- argument name
- return output

In [ ]:
# syntax: <function name> = lambda<argument name>: <return output>

In [9]:
summ = lambda n:n+10
summ(100)

110

In [10]:
cube = lambda n:n**3
cube(10)

1000

$Pattern-2$

**Function name with two arguments**

In [ ]:
# syntax = <function name> = lambda<arg1>,<arg2>: <return output>

In [12]:
power = lambda n,m:n**m
power(2,5)

32

In [15]:
avg = lambda n1,n2,n3:(n1+n2+n3)/3
round(avg(10,25,30),2)

21.67

$Pattern-3$

**Default arguments**

In [17]:
avg = lambda n1,n2,n3=30:(n1+n2+n3)/3
round(avg(10,25),2)

21.67

$Pattern-4$

**if-else**

In [ ]:
# syntax : function name = lambda<arg1>,<arg2>: <list comprehension>
# syntax : function name = lambda<arg1>,<arg2>:<if-output><if-condition><else-><else-output>

In [20]:
power = lambda a,b:a if a>b else b
power(2,5)

5

$Pattern-5$

**using List**

**map**
- The function and iterator are available now
- we need to map both

In [39]:
# syntax : lambda <variable>:<output>
l=['hyd','chennai','mumbai']
list(map(lambda i:i.capitalize(),l))

['Hyd', 'Chennai', 'Mumbai']

In [40]:
# syntax : lambda <variable>:<output>
l=['hyd','chennai','mumbai']
tuple(map(lambda i:i.capitalize(),l))

('Hyd', 'Chennai', 'Mumbai')

In [ ]:
# step-1 : Write your normal expression
# ex: lambda <var>: <output> ===> lambda i:i.capitalize()
# step-2 : add the iterator
# ex: lambda <var>: <output>,<list> ===> lambda i:i.capitalize(),list1
# step-3 : Map the both
# ex: map(lambda <var>: <output>,<list>) ===> map(lambda i:i.capitalize(),list1)
# step-4 : save the values in a list 
# ex: list(map(lambda <var>: <output>,<list>)) ===> list(map(lambda i:i.capitalize(),list1))

- case 1 : function call with one argument
    - lambda argument : expression
    - lambda variables : return output
- case 2: function call with Two arguments
    - lambda arg1,arg2 : expression
    - lambda var1,var2 : return output
- case

In [2]:
l=['hyd','chennai','mumbai']
list(map(lambda i:i.upper(),l))

['HYD', 'CHENNAI', 'MUMBAI']

**Filter**
- Whenever if condition is there use filter

In [6]:
l=['hyd','che#nnai','mum#bai','blr']
list(map(lambda i:'#' in i,l))

[False, True, True, False]

In [7]:
l=['hyd','che#nnai','mum#bai','blr']
list(filter(lambda i:'#' in i,l))

['che#nnai', 'mum#bai']

In [8]:
l=[1,3,2,7,6]
list(filter(lambda i:i%2==0,l))

[2, 6]

In [11]:
l1=[1,2,3,4,5]
# I want sum of the element

# Method-1: sum
sum(l1)

# Method-2: without sum
summ=0
for i in l1:
    summ+=i
print(summ)

15

**Reduce**
- All inbuilt function can achieve by reduce
- Reduce is available from functools package
- Level-1: reduce(lambda summ,i:summ+i,l)
- Level-2: reduce(lambda summ,i:summ+i,l1,initial_value)
- for

In [12]:
import functools
l=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l)

15

In [13]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ+i,l1)

15

In [15]:
import functools
l=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l,0)

15

In [16]:
import functools as ft
l=[1,2,3,4,5]
ft.reduce(lambda mul,i:mul*i,l)

120

In [17]:
import functools as ft
l=[1,2,3,4,5]
ft.reduce(lambda mul,i:mul*i,l,1)

120

In [18]:
from functools import reduce
l1=[6,5,2,4,7]
reduce(lambda x,i: x if x>i else i,l1)

7

In [19]:
import functools

In [20]:
functools