- we can store the output values by using append operations
- we are taking empty list
- we are iterating through elements from a given list
- the result we are appending in a new list

In [2]:
square_list=[]
for i in range(10):
    square_list.append(i**2)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- There are almost 3 lines are in the process
- The three lines we can make into a single line
- This is called as **LIST COMPREHENSION**

$Pattern-1$

**Only for loop**

In [12]:
# syntax
# [<output>  <for loop>]
square_list=[i**2 for i in range(10)]
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
# l1=['hyd','mumbai','chennai','blr']
# ans=['Hyd','Mumbai','Chennai','Blr']
l1=['hyd','mumbai','chennai','blr']
l1=[i.capitalize() for i in l1]
l1

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [19]:
# l1=['Hyd','Mumbai','Chennai','Blr']
# ans=['hyd','mumbai','chennai','blr']
l1=['hyd','Mumbai','chennai','Blr']
l2=[i.lower() for i in l1]
l2

['hyd', 'mumbai', 'chennai', 'blr']

In [1]:
# l1=['Hyd','Mumbai','Chennai','Blr']
# sum of the indexes of all elements
l1=['Hyd','Mumbai','Chennai','Blr']
l2=[l1.index(i) for i in l1]
sum(l2)

6

- Making empty list will not works in List Comprehension
- Initializations will not works in List Comprehension
- Assignment operations also not works

In [2]:
num=5
while num>0:
    print(num)
    num-=1
    if num==3:
        break
    else:
        print("Done")

5
Done
4

$Pattern-2$

**for loop -if condition**

In [ ]:
# syntax
# [<output>  <for loop>  <if condition>]

In [3]:
# l1=['Hyd','Mumbai','Chennai','Blr']
# ans=[mumbai','chennai']
# we want elements which are len of element >4
l1=['Hyd','Mumbai','Chennai','Blr']
l2=[i for i in l1 if len(i)>4]
l2

['Mumbai', 'Chennai']

In [5]:
# l1=['Hyd','Mum#bai','Chen#nai','Blr']
# ans=[mum#bai','chen#nai']
# we want elements which are having '#'
l1=['Hyd','Mum#bai','Chen#nai','Blr']
l2=[i for i in l1 if '#' in i]
l2

['Mum#bai', 'Chen#nai']

In [16]:
# l1=['Hyd','Mumbai','chennai','blr']
# ans=['Hyd','Mumbai']
# we want elements which are having capital letters
l1=['Hyd','Mumbai','chennai','blr']
l2=[i for i in l1 if i[0].istitle()]
l2

['Hyd', 'Mumbai']

In [10]:
# l1=['Hyd','Mum#bai','Chen#nai','Blr']
# ans_#=['mum#bai','chen#nai']
# ans_without_#=['Hyd','Blr']
# we want elements which are having '#' and without '#'
l1=['Hyd','Mum#bai','Chen#nai','Blr']
l2=[i for i in l1 if '#' in i]
l2

['Mum#bai', 'Chen#nai']

In [11]:
# ans_without_#=['Hyd','Blr']
l1=['Hyd','Mum#bai','Chen#nai','Blr']
l2=[i for i in l1 if '#' not in i]
l2

['Hyd', 'Blr']

In [48]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[]  second name=[]  cname =[]
# append first name should be in first name list
#        second name shoul be in second name list
#        third name will be in third name list
str1='virat.kohli@rcb.com, Rohit.sharma@mi.com, KL.Rahul@lucknow.com'
l1=str1.split(',')
Firstname=[l1[i][:l1[i].index('.')] for i in range(len(l1))]
secondname=[l1[i][l1[i].index('.')+1:l1[i].index('@')] for i in range(len(l1))]
cname=[l1[i][l1[i].index('@')+1:l1[i].index('.',(l1[i].index('.')+1))] for i in range(len(l1))]
print(Firstname)
print(secondname)
print(cname)

['virat', ' Rohit', ' KL']
['kohli', 'sharma', 'Rahul']
['rcb', 'mi', 'lucknow']

$Pattern-3$

**for loop if-else condition**

In [ ]:
[<ifoutput> <if> <else> <elseoutput> <for>]

**Even-Odd**

In [3]:
["even" if i%2==0 else "odd" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']