**PRINT STATEMENT**

In [1]:
print(10)

10

In [2]:
print('dad')

dad

In [3]:
print(1.2)

1.2

In [4]:
print(True)

True

In [5]:
print(10,1.2,'Dad',True)

10 1.2 Dad True

In [6]:
n1=1
n2=2
print(n1,n2)

1 2

In [9]:
print(10),print(20) # None,None means no value

10
20

(None, None)

In [8]:
print(1,2,3)
print(4)
print(5)

1 2 3
4
5

In [17]:
n1=15
n2=25
n3=n1+n2
# The addition of 10 and 20 is 30
print("The addition of 10 and 20 is 30")
print("The addition of", n1, "and", n2, "is ",n3)

The addition of 10 and 20 is 30
The addition of 15 and 25 is  40

**Format Method**

In [18]:
a=1
b=2
c=a+b
print("The addition of {} and {} is {}".format(a,b,c))

The addition of 1 and 2 is 3

In [31]:
a='python'
b=10 
c='Hyderabad'
print("My name is {}, Iam am {} years old and Im from {}".format(a,b,c))

My name is python, Iam am 10 years old and Im from Hyderabad

In [33]:
a='Dinesh'
b='Data Scientist'
c='Cognizant'
d=10
print("My name is {}, Iam working in this {} role since {} years in {} company".format(a,b,d,c))

My name is Dinesh, Iam working in this Data Scientist role since 10 years in Cognizant company

In [35]:
a=10
b=20
c=a+b
print("The addition of {a} and {b} is {c}")

The addition of {a} and {b} is {c}

**F-String**
- It is used to direct insert of the input values in the print statement
- It is represented as print(f"___ {} __ {}")
- Some of the examples are given below

In [39]:
a=10
b=20
c=a+b
print(f"The addition of {a} and {b} is {c}")

The addition of 10 and 20 is 30

In [37]:
a='python'
b=10 
c='Hyderabad'
print(f"My name is {a}, Iam am {b} years old and Im from {c}")

My name is python, Iam am 10 years old and Im from Hyderabad

In [38]:
a='Dinesh'
b='Data Scientist'
c='Cognizant'
d=10
print(f"My name is {a}, Iam working in this {b} role since {d} years in {c} company")

My name is Dinesh, Iam working in this Data Scientist role since 10 years in Cognizant company

In [7]:
n1=100
n2=200
average=(n1+n2)/2
n3=int(average)
print("The average of {} and {} is: {}".format(n1,n2,n3)) # Format method

The average of 100 and 200 is: 150

In [12]:
n1=100
n2=200
average=(n1+n2)/2
n3=int(average)
print(f"The average of {n1} and {n2} is: {n3}") # F string method

The average of 100 and 200 is: 150

In [40]:
# Take the radius of circle 
# Take the pie value=3.14
# Find the area of circle=(pie)r^2
Radius=5
pie=3.14
Area_of_circle = pie*Radius*Radius
print("The area of circle with radius {} is {}".format(Radius,Area_of_circle))
print(f"The area of circle with radius {Radius} is {Area_of_circle}")

The area of circle with radius 5 is 78.5
The area of circle with radius 5 is 78.5

In [15]:
# Take the breadth of triangle
# Take the height of triangle
# Find area of triangle = 1/2*base*height
base=5
height=10
Area= 1/2*base*height
print("The area of triangle with base {} is {}".format(base,Area))
print(f"The area of triangle with radius {base} is {Area}")

The area of triangle with base 5 is 25.0
The area of triangle with radius 5 is 25.0

In [24]:
# Bill amount
# Take tip percentage
# Calculate the tip amount
# calculate tip_amount
# print the total bill
bill_amount=1000
tip_percentage=10
total_bill=bill_amount+tip_amount
tip_amount=(bill_amount*tip_percentage)/100
print(f"The total bill amount with tip percentage is {total_bill}")
print(f"The total tip amount is {tip_amount}")

The total bill amount with tip percentage is 1100.0
The total tip amount is 100.0

**End Operator**
- Combining multiple print statements in a single line

In [28]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

**Separate**
- Separate the multiple values in a single print statement
- The syntax for sep is print(a,b,c,sep="you can use any character to separate")

In [34]:
print(10,20,30,sep=" =! ")

10 =! 20 =! 30

In [43]:
print(f"The addition of {5} and {1} is {5+1}.")

The addition of 5 and 1 is 6.

In [49]:
print("The addition of {} and {} is {}".format(5,1,5+1))

The addition of 5 and 1 is 6

In [47]:
print(f"The addition of {5} and {1} is {6}",".",sep="")

The addition of 5 and 1 is 6.