**First part**
- Initialization
- type
- len
- max
- min
- sorted
- reversed
- in
- for loop using in
- index
- for loop using index
- mutable
- concatenation
  
**Second part**
- methods

In [15]:
str1='python'
str1

'python'

In [16]:
str2="python"
str2

'python'

**Note**
- If we mentioned single quotes or double quotes by default python provides output in single quotes
- If we print the strings, we will answer without quotes

**Triple quotes**

In [19]:
str3="""Hi how are you?
Iam fine!"""
str3

'Hi how are you?\nIam fine!'

In [20]:
print(str3)

Hi how are you?
Iam fine!

**Note**
- If we mentioned single quotes or double quotes by default python provides output in single quotes
- If we print the strings, we will answer without quotes
- Triple quotes are using for doc string
- In order to convey the information about coding part we will use doc string
- Anything inside the single quotes or double quotes is considered as strings

**type**

In [22]:
print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [23]:
str4='10' # integer value in string format
str5='10.5' # float value in the form of string
str6='123abc' # Alpha numeric value in the form of string
str7='True' # Boolean value in the form of string
str8='sinx'

**len**

In [24]:
len(str1)

6

**max and min**

In [33]:
print(max(str7))
min(str7)

u

'T'

**Keywords vs Methods**

**Keywords**
- type(<>)
- print(<>)
- len(<>)
- max(<>)
- min(<>)
- eval(<>)
- input(<>)
- if(<>)
- elif(<>)
- else(<>)
- for(<>)
- while(<>)
- sum(<>)

**Methods**
- For methods we need to import the package the first then only we can use package
- import time
- time.sleep(<>)
- import math
- math.sqrt(<>)

**Sum**

In [34]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
'p'+'y'+'t'+'h'+'o'+'n'

'python'

In [37]:
sum([1,2,3])

6

**Sorted**

In [38]:
sorted(str1)

['h', 'n', 'o', 'p', 't', 'y']

**Note**
- sorting gives ascending order based on ASCII numbers
- sorted is kind of a function
- Every function we have arguments
- In that one default argument is **reverse=False**
- By default sorted output gives **ascending order**
- We can change the order, by providing **reverse=True**
- **If we do not mention, it will give the default answer**

In [46]:
sorted('Dinesh',reverse=True)

['s', 'n', 'i', 'h', 'e', 'D']

In [41]:
complex() # 0+0j

0j

In [44]:
print(complex(1))  # It takes only real value and imaginary part will be zero
print(complex(1,2)) # It takes both real and imaginary values as 1=real and 2=imaginary
print(complex(real=10,imag=20)) # We can represent the values as real and imag

(1+0j)
(1+2j)
(10+20j)

In [59]:
sorted(iterable='python') # Error
random.randint(a=10,b=20) # Answer

TypeError: sorted expected 1 argument, got 0

**Note**
- We have arguments before / and after /
- We can use the argument names after / only
- For example sorted has two arguments one is iterable and another is reverse
- iterable is before / symbol 
- reverse is mentioned after / symbol
- So we can use only reverse argument name while we are doing the work
- We cannot use iterable argument name 
- Instead of using iterable name we can provide direct value at that position

**reversed**

In [62]:
reversed('python')

- I already done my work
- Your output is stored in that memory location
- Whenever you see this kind of answer less than and greater than symbol or memory
- use for loop to see the output

In [65]:
str11='Dinesh'
output=reversed(str11)
for i in output:
    print(i)

h
s
e
n
i
D

In [11]:
sorted('naresh',reverse=True)

['s', 'r', 'n', 'h', 'e', 'a']

**in**

In [16]:
str1='Dinesh'
'n' in str1

True

In [18]:
str1='Dinesh'
'nn' not in str1

True

**Note**
- In operator directly access the letters

In [28]:
# Ask the user count how many 'a' are present in a given string
# str2= 'hai naresh how are you'
count=0
str2='hai naresh how are you'
for i in str2:
    if 'a'in i:
        count+=1
print(count)

3

In [39]:
# wap ask the user find how many vowels are there in a given string
# str3= 'hai naresh how are you'
count=0
str3='hai naresh how are you'
for i in str3:
    if i in'aeiou':
        count+=1
print(count)

9

In [1]:
# str4= 'hai naresh how are you'
# repeated vowels are there
# we dont want repeated vowels
# count the vowels which should not repeated
str4= 'hai naresh how are you'
str5=''
count=0
for i in str4:
    if i in 'aeiou':
        if i not in str5:
            count+=1
            str5=str5+i
        
print(len(str5))

5

**How to update the empty strings**

In [56]:
s1='Dinesh'
s2=''
for i in s1:
    s2=s2+i
s2

'Dinesh'

**Concatenation**

In [58]:
s1='Dinesh'
s2=' Reddy'
s1+s2

'Dinesh Reddy'

In [62]:
s1='Dinesh'
s2=' Reddy'
s1*s2
s1/s2
s1-s2

TypeError: can't multiply sequence by non-int of type 'str'

**Index**

- Index meaning a number attached to a letter
- In python index starts with zero
- We have two directions
   - Positive direction
     - Positive numbers starts with zero
   - Negative direction
     - Negative numbers starts with -1, applicable to last letter

In [72]:
s1='python'
s1[0],s1[1],s1[2],s1[3],s1[4],s1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [73]:
s1='python'
s1[-1],s1[-2],s1[-3],s1[-4],s1[-5],s1[-6]

('n', 'o', 'h', 't', 'y', 'p')

**Mutable-Immutable**
- Mutable : It can change
- We can change using indexing
- Immutable : It cannot change
- We cannot change using indexing

In [7]:
s='Welcome' # WeLcome
# I want to replace 'l' with 'L'
# Possible
# Not Possible
s[2]='L'

TypeError: 'str' object does not support item assignment

**Strings** **are immutable**

In [8]:
l=[1,2,3,4] # 2=200
l[1]=200
l

[1, 200, 3, 4]

**Lists are mutable**

- range belongs to which family
      - **math family**
- inside range bracket what we need to provide
      - **number**
- How many numbers we need to provide
      - **Number of letters : len(string)**
- How to access the letter using number
      - **By using index**

In [13]:
# Print each letter using for loop range
a='PALLE DINESH REDDY'
# Range belongs to math family
# inside bracket we need to provide a number
# How many numbers we need to provide
#           number of letters are = 18
# How to access a letter using number:
for i in range(len(a)):
    print(a[i],end="")

PALLE DINESH REDDY

- **for-in** directly access the letter
- **for-range** will access using index

In [14]:
b='PALLE DINESH REDDY'
for i in b:
    print(i,end="")

PALLE DINESH REDDY

In [15]:
a='PALLE DINESH REDDY'
for i in range(len(a)):
    print(a[i],end="")

PALLE DINESH REDDY

In [20]:
# wap ask the user iterate using a string
# str='welcome'
# print the positive index of w is 0
# print the positive index of e is 1
str='welcome'
for i in range(len(str)):
    print(i,str[i])
    print(f"The positive index of {str[i]} is {i}")

0 w
The positive index of w is 0
1 e
The positive index of e is 1
2 l
The positive index of l is 2
3 c
The positive index of c is 3
4 o
The positive index of o is 4
5 m
The positive index of m is 5
6 e
The positive index of e is 6

In [21]:
# wap ask the user iterate using a string
# str='welcome'
# print the negative index of w is -7
# print the negative index of e is -6
str='welcome'
for i in range(len(str)):
    print(i-len(str),str[i])
    print(f"The negative index of {str[i]} is {i-len(str)}")

-7 w
The negative index of w is -7
-6 e
The negative index of e is -6
-5 l
The negative index of l is -5
-4 c
The negative index of c is -4
-3 o
The negative index of o is -3
-2 m
The negative index of m is -2
-1 e
The negative index of e is -1

In [22]:
# The positive index is 0 and negative index -7 for 'w'
str='welcome'
for i in range(len(str)):
    print(f"The positive index is {i} and the negative index is {i-len(str)} for {str[i]}")

The positive index is 0 and the negative index is -7 for w
The positive index is 1 and the negative index is -6 for e
The positive index is 2 and the negative index is -5 for l
The positive index is 3 and the negative index is -4 for c
The positive index is 4 and the negative index is -3 for o
The positive index is 5 and the negative index is -2 for m
The positive index is 6 and the negative index is -1 for e

In [31]:
# wap ask the user get the index of each 'a' in a given string
# str1='Hai how are you i am good'
str1='Hai how are you i am good'
for i in range(len(str1)):
    if 'a' in str1[i]:
        print(i)

1
8
18

In [32]:
# wap ask the user to get count of number of 'a' in a given string 
count=0
str1='Hai how are you i am good'
for i in range(len(str1)):
    if 'a' in str1[i]:
        count+=1
print(count)

3

In [33]:
# wap ask the user get the sum of all index numbers of 'a'
summ=0
str1='Hai how are you i am good'
for i in range(len(str1)):
    if 'a' in str1[i]:
        summ+=i
print(summ)

27

In [42]:
# wap ask the user get the vowels from a given string using for-range
str1='Hai how are you i am good'
for i in range(len(str1)):
    if str1[i] in 'aeiou':
        print(str1[i],end=" ")

a i o a e o u i a o o

In [57]:
s='Hai how are you i am good'
s1=''
for i in range(len(s)):
    if s[i] not in s1:
        if s[i] in 'aeiou':
            print(s[i],end="")
            s1=s[i]+s1

aioeu

In [15]:
# string='ola ola ola'
# How many 'ola' are there
s1='ola ola ola'
count=0
str=s1.split()
for i in range(len(str)):
    if str[i]=='ola':
        count+=1
print(count)

3

In [40]:
# string1='hello hello hello how how how how are you'
# what is the most repeated word
count=0
s4='hello hello hello how how how how are you'
str1=s4.split()
for i in range(len(str1)):
    for j in range(i):
        if str1[i]==str1[j]:
            count+=1

print(count)

9

In [1]:
# string2='hellooooo how aree u'
# what is the maximum length of word: hellooooo
# what is the minimum length of word: u
# Q16) string1='hellooooo how aree u'
# what is the maximum length of word: helloooo
# what is the minimum length of word: u
str1='hellooooo how aree u'
str2=str1.split()
for i in range(len(str2)-1):
    if len(str2[i])<len(str2[i+1]):
        c=str2[i]
        str2[i]=str2[i+1]
        str2[i+1]=c
print(str2[0])
print(str2[len(str2)-1])

hellooooo
u

In [1]:
# without using sorted then sort the letters

**Slice**
- we can cut into pieces
- similar to range concept
- start,stop,step here also

In [4]:
str1='hai how are you'
str1[:-1]

'hai how are yo'

In [ ]:
-15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4   -3 -2 -1
 h   a   i        h   o  w     a  r  e       y  o  u
 0   1   2   3    4   5  6  7  8  9  10  11 12 13  14

In [ ]:
str1[start:stop:step]

$Pattern-1$

**str1[start]**

- By default start value = start only
- Last value nothing mentioned automatically it will go till = last only
- Step nothing mentioned means, it is a positive direction and increment by 1

In [5]:
# -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4   -3 -2 -1
#  h   a   i        h   o  w     a  r  e       y  o  u
#  0   1   2   3    4   5  6  7  8  9  10  11 12 13  14 
str1='hai how are you'
str1[-5:]

'e you'

In [19]:
str1='hai how are you'
str1[5:]

'ow are you'

In [ ]:
str1='hai how are you'
str1[:-5]

In [18]:
str1='hai how are you'
str1[:5]

'hai h'

In [17]:
str1='hai how are you'
str1[:-5]

'hai how ar'

$Pattern-2$

- str1[start,stop]
- Start value means by default start only
- Step is not mentioned positive direction
- Last=stop-1

In [20]:
str1='hai how are you'
str1[14:-5]

''

In [21]:
str1='hai how are you'
str1[5:14]

'ow are yo'

In [27]:
str1='hai how are you'
str1[-5:14]

'e yo'

**Truncation Behaviour**

- Whenever string range is limited, but we provided unlimited number
- String will consider till the range we have
- In the above example our range only 15 letters
- We provied 500, then 500 will truncate to till 15 letters

In [31]:
str1='hai how are you'
str1[5:500]

'ow are you'

In [35]:
str1='hai how are you'
str1[-500:500]

'hai how are you'

In [32]:
str1='hai how are you'
str1[-1:500]

'u'

In [33]:
str1='hai how are you'
str1[500:]

''

$Pattern-3$

- str1[start,stop,step]
- Start value means by default start only
- Step is not mentioned positive direction
- Last=stop-1

In [9]:
str1='hai how are you'
str1[-5::2]

'eyu'

In [10]:
str1='hai how are you'
str1[5::2]

'o r o'

In [11]:
str1='hai how are you'
str1[-5::-2]

'eawhih'

In [12]:
str1='hai how are you'
str1[:5:2]

'hih'

In [36]:
str1='hai how are you'
str1[:5:-2]

'uyeaw'

In [37]:
str1='hai how are you'
str1[::-2]

'uyeawhih'

In [38]:
str1='hai how are you'
str1[::2]

'hihwaeyu'

In [43]:
str1='hai how are you'
str1[-13:2:2]

''

In [44]:
str1[:] # Complete string
str1[::] # Complete string
str1[::-1] # Reverse
str1[:5:-2]

'uyeaw'

**Methods**
- Strings lists tuple and dictionary every data type has its own methods
- We already seen that packages has different method
- For example random package : randint method
- Math package : sqrt method
- In the same way strings also have methods
- In order to see the methods for the packages
   - we are importing the package
   - we are applying the dir
- In the similar way in order to see the methods of string, we need to apply the dir only

In [54]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- Lower
- Upper
- Capitalize
- Title
- Centre

In [1]:
str1='hai how are you'
print(str1.upper())
print(str1.lower())
print(str1.capitalize())
print(str1.title())
print(str1.center(25))

HAI HOW ARE YOU
hai how are you
Hai how are you
Hai How Are You
     hai how are you

**Count**

In [4]:
str1='hai how are you'
# How many 'a's are there
count=0
for i in str1:
    if i=='a':
        count+=1

count=0

In [19]:
str1='hai how are you'
str1.count('a')

2

- We want number of 'a' from a specific index
- We want number of 'a' between two indexes

In [20]:
str1='hai how are you'
str1.count('a',3) # We are giving substring and start value

1

In [21]:
str1='hai how are you'
str1.count('a',1,10) # We are giving substring and start value and end value

2

In [22]:
str1='hai how are you'
str1.count('a',-1,-10)

0

**Window Method**

In [24]:
str2='ola ola ola'
count=0
for i in range(len(str2)):
    if str2[i:i+3]=='ola':
        count+=1
count

3

**Replace**

In [36]:
str1='welcome'
# I want to replace 'e' with 'E'
str1.replace('e','E')

'wElcomE'

In [37]:
str1='welcome'
# I want to replace 'e' with 'E'
str1.replace('e','E',1)

'wElcome'

- By default replace wil change all the occurences
- count=-1 is responsible for that
- which means we can provide some count also, which how many i want 
- Give welcome and change count=1 and count=2 explore it

- We know that strings are immutable
- We can not use index operations also
- slice and concatenation
- Divide welcome : we   come

In [26]:
str1='welcome'
str2=str1[0:2]+'L'+str1[3:7]
str2

'weLcome'

In [54]:
str3='restart'
str3[::-1].replace('r','$',1)[::-1]

'resta$t'

In [52]:
str3='restart'
s1=str3[:1]
s2=str3[1:]
s3=s2.replace('r','$')
s1+s3

'resta$t'

**index-find**

In [55]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

- 'isalnum',
- 'isalpha',
- 'isascii',
- 'isdecimal',
- 'isdigit',
- 'isidentifier',
- 'islower',
- 'isnumeric',
- 'isprintable',
- 'isspace',
- 'istitle',
- 'isupper',
- 'join',
- 'ljust',
- 'lower',
- 'lstrip',
- 'maketrans',
- 'partition',
- 'removeprefix',
- 'removesuffix',
- 'replace',
- 'rfind',
- 'rindex',
- 'rjust',
- 'rpartition',
- 'rsplit',
- 'rstrip',
- 'split',
- 'splitlines',
- 'startswith',
- 'strip',
- 'swapcase',
- 'title',
- 'translate',
- 'upper',
- 'zfill'

**Index**
- index says that it will give the index of any letter in a given string
- we already seen about count : Count will give how many letters are there
   - at what index you want to count
   - between indexes also we can count the letters
- index meaning it will provide the index
- imagine that there same letters repeated
- how can we find the next index

In [15]:
str1='hai hai hai'
str1.index('a')

1

In [5]:
str1='hai hai hai'
str1.index('a',2)

5

In [7]:
str1='hai hai hai'
str1.index('a',2,11)

5

In [12]:
str1='hai hai hai'
str1.index('a',11)

ValueError: substring not found

In [26]:
str1='hai hai hai'
try:
    print(str1.index('a',2,10))
except Exception as e:
    print(e)

5

In [39]:
str1='hai hai hai'
try:
    print(str1.index('a',-9,-6))
except Exception as e:
    print(e)

substring not found

In [33]:
str1='hai hai hai'
try :
    i1=str1.index('a')
    print(i1)
    i2=str1.index('a',i1+1)
    print(i2)
    i3=str1.index('a',i2+1)
    print(i3)
    i4=str1.index('a',i3+1)
    print(i4)
except Exception as e:
    print(e)

1
5
9
substring not found

**Find**

In [35]:
str1='hai hai hai'
str1.find('a',2)

5

In [37]:
str1='hai hai hai' # If the substring not found return -1
str1.find('a',11)

-1

In [41]:
str1='hai hai hai' # If the substring not found return -1
str1.replace('z','Z')

'hai hai hai'

- If the substring not found
- Count will give '0'
- Replace method will give original string
- Index will give **substring not found error**
- Find will give **-1**

In [58]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
i1=str1.find('.')
print(str1[0:i1])
i2=str1.find('@',i1+1)
print(str1[i1+1:i2])
i3=str1.find('.',i2+1)
print(str1[i2+1:i3])
i4=str2.find('.')
print(str2[0:i4])
i5=str2.find('@',i4+1)
print(str2[i4+1:i5])
i6=str2.find('.',i5+1)
print(str2[i5+1:i6])

virat
kohli
rcb
rohit
sharma
mi

**Representation**
- String representation with quotes
- List represent wit square brackets[ ]

In [2]:
l=[1,2,3,4,5]
print(l)
type(l)

[1, 2, 3, 4, 5]

list

In [4]:
l1=['A','b','C','d','2','3']
l1

['A', 'b', 'C', 'd', '2', '3']

- list are array of elements
- list elements are heterogeneous all the data types we can represent in a list
- list elements are allowed duplicates
- list in list is possible
- variable assignment also possible in list

In [9]:
l2=[2,3,6,6,5]
print(len(l2))
print(max(l2))
print(min(l2))
print(sorted(l2))
output=reversed(l2)
for i in output:
    print(i,end=" ")

5
6
2
[2, 3, 5, 6, 6]
5 6 6 3 2

In [18]:
l2=[2,3,6,6,5]   # Append object to the end of the list.
l2.append(7)
l2

[2, 3, 6, 6, 5, 7]

In [19]:
l2=[6,3,6,5,2]   # Remove first occurrence of value.
l2.remove(6)
l2

[3, 6, 5, 2]

In [21]:
l2=[2,3,6,6,5]    # l2.insert(index, object, /)
l2.insert(4,3)    # Insert object before index
l2

[2, 3, 6, 6, 3, 5]

In [2]:
dir(list) # This can be written as dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [20]:
l2=[2,3,6,6,5]  #  Remove all items from list.
l2.clear()
l2

[]

In [22]:
l2=[2,3,6,6,5]   # l2.pop(index=-1, /)
l2.pop(-3)       # Remove and return item at index (default last).

6

In [23]:
l2=[2,3,6,6,5]     # Return first index of value.
l2.index(6)

2

In [24]:
l2=[2,3,6,6,5]     # Extend list by appending elements from the iterable.
l2.extend('6')
l2

[2, 3, 6, 6, 5, '6']

In [25]:
l2=[2,3,6,6,5]     # Return a shallow copy of the list.
l2.copy()

[2, 3, 6, 6, 5]

In [26]:
l2=[2,3,6,6,5]    # l2.count(value, /)
l2.count(3)       # Return number of occurrences of value.

1

In [37]:
l3=[1,[2,'A']]
l3[1:2][0][1]

'A'