**Representation**
- String representation with quotes
- List represent with square brackets[ ]

In [1]:
l=[1,2,3,4,5]
print(l)
type(l)

[1, 2, 3, 4, 5]

list

In [2]:
l1=['A','b','C','d','2','3']
l1

['A', 'b', 'C', 'd', '2', '3']

- list are array of elements
- list elements are heterogeneous all the data types we can represent in a list
- list elements are allowed duplicates
- list in list is possible
- variable assignment also possible in list

In [3]:
l2=[2,3,6,6,5]
print(len(l2))
print(max(l2))
print(min(l2))
print(sorted(l2))
output=reversed(l2)
for i in output:
    print(i,end=" ")

5
6
2
[2, 3, 5, 6, 6]
5 6 6 3 2

**append**
- adding elements in a list at last index
- append method is very important
- most of the time we wil use append in the real time
- when we add the value the original list will be written

In [40]:
l2=[2,3,6,6,5]   # Append object to the end of the list.
l2.append(7)
l2

[2, 3, 6, 6, 5, 7]

In [39]:
l3=[]
l3.append(l2)
l3

[[2, 3, 6, 6, 5, 7]]

In [45]:
# str1='hai hai hai'
# what are index of 'a'
# save that index numbers in a list
str1='hai hai hai'
l4=[]
for i in range(len(str1)):
    if str1[i]=='a':
        l4.append(i)
l4,sum(l4)

([1, 5, 9], 15)

In [48]:
# list=['Hyd','Mumbai','Chennai','Blr']
# we want elements which are length of elements >4
# ans=['Mumbai','Chennai']
list=['Hyd','Mumbai','Chennai','Blr']
for i in range(len(list)):
    if len(list[i])>4:
        print(list[i])

Mumbai
Chennai

In [50]:
# list=['Hyd','Mum#bai','Chen#nai','Blr']
# we want elements which are length of elements >4
# ans=['Mumbai','Chennai']
list=['Hyd','Mum#bai','Chen#nai','Blr']
for i in range(len(list)):
    if '#' in list[i]:
        print(list[i])

Mum#bai
Chen#nai

In [60]:
# list=['Hyd','Mumbai','Chennai','Blr']
# we want elements which are length of elements >4
# ans=['hyd','mumbai','chennai','blr']
list=['Hyd','Mumbai','Chennai','Blr']
for i in range(len(list)):
    if list[i][0].isupper():
        list[i][0].upper()
list

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [5]:
l2=[6,3,6,5,2]   # Remove first occurrence of value.
l2.remove(6)
l2

[3, 6, 5, 2]

**insert**
- It will insert the element based on index
- append will add the element at last only

In [6]:
l2=[2,3,6,6,5]    # l2.insert(index, object, /)
l2.insert(4,3)    # Insert object before index
l2

[2, 3, 6, 6, 3, 5]

In [8]:
l2=[2,3,6,6,5] # l2.insert(index, object, /)
i1=l2.index(6)   # Inserting object at first 6 
l2.insert(i1,'Dinesh')    # Insert object before index
l2

[2, 3, 'Dinesh', 6, 6, 5]

In [7]:
l2=[2,3,6,6,5] # l2.insert(index, object, /)
i1=l2.index(6)   # Inserting object at second 6
l2.insert(i1+1,'Dinesh')    # Insert object before index
l2

[2, 3, 6, 'Dinesh', 6, 5]

In [14]:
l2=[2,3,6,6,5,6]
i1=l2.index(5)
i2=l2.index(i1+1)
l2.insert(i2+1,5)
l2

[2, 3, 6, 6, 5, 5, 6]

In [7]:
dir(list) # This can be written as dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
l2=[2,3,6,6,5]  #  Remove all items from list.
l2.clear()
l2

[]

In [9]:
l2=[2,3,6,6,5]  #  Remove all items from list.
l2.append(4)
l2

[2, 3, 6, 6, 5, 4]

**pop-remove-del**
- pop will remove the item and display the item which is removing
- pop will take only one argument i.e. index
- pop will remove the item based on index
- if you dont provide any index, by default it will remove last value and displays
- because the default index value is -1

In [16]:
l2=[2,3,6,6,5]   # l2.pop(index=-1, /)
print(l2.pop(-3))    # Remove and return item at index (default last).
l2

6

[2, 3, 6, 5]

In [30]:
l2=[1,2,3,'Apple',4,'Apple',5,6]  
print(l2)
i1=l2.index('Apple')
l2.pop(i1)
print(l2)
i2=l2.index('Apple')
l2.pop(i2)
print(l2)

[1, 2, 3, 'Apple', 4, 'Apple', 5, 6]
[1, 2, 3, 4, 'Apple', 5, 6]
[1, 2, 3, 4, 5, 6]

**remove**
- remove will take the value
- remove will delete the first occurence of element

In [57]:
l2=[1,2,3,'Apple',4,'Apple',5,6]  
print(l2)
l2.remove('Apple')
print(l2)
l2.remove('Apple')
print(l2)

[1, 2, 3, 'Apple', 4, 'Apple', 5, 6]
[1, 2, 3, 4, 'Apple', 5, 6]
[1, 2, 3, 4, 5, 6]

In [58]:
str='hai apple how are you apple im good apple thank you apple'
list=str.split()
a=list.count('apple')
for i in range(a):
    list.remove('apple')
c=' '.join(list)
c

'hai how are you im good thank you'

In [53]:
str='hai apple how are you apple im good apple thank you apple'
list=str.split()
a=list.count('apple')
for i in range(a):
        b=list.index('apple')
        list.pop(b)
c=' '.join(list)
c

'hai how are you im good thank you'

**del**

In [60]:
l2=[1,2,3,'Apple',4,'Apple',5,6]
del(l2[3])
l2

[1, 2, 3, 4, 'Apple', 5, 6]

In [12]:
l2=[2,3,6,6,5]     # Return first index of value.
l2.index(6)

2

In [1]:
l2=[2,3,6,6,5]     # Extend list by appending elements from the iterable.
l2.extend('6')
l2

[2, 3, 6, 6, 5, '6']

In [10]:
l2=[2,3,6,6,5]     # Return a shallow copy of the list.
l2.copy()

[2, 3, 6, 6, 5]

In [9]:
l2=[2,3,6,6,5]    # l2.count(value, /)
l2.count(3)       # Return number of occurrences of value.

1

In [8]:
l3=[1,[2,'A']]
l3[1:2][0][1]

'A'

**List Slicing**

In [18]:
l=[1,2,3,4,5,6,'A','B','C','D','E','F','G']
print(l[3:9:2])
print(l[3:9:-2])
print(l[3:-9:2])
print(l[-3:9:2])
print(l[-3:-9:2])
print(l[-3:9:-2])
print(l[-3:-9:-2])

[4, 6, 'B']
[]
[4]
[]
[]
['E']
['E', 'C', 'A']

In [21]:
print("Dinesh\nReddy")

Dinesh
Reddy

**Split-join**
- split will apply for strings, to divide the words or characters
- when we split the elements will be stored in a list format
- Join is used to combine the elements of a list in a string format

- **split-strings**

- **join-list**

In [1]:
str1='hello im learning python'
words=str1.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())

new_words

['Hello', 'Im', 'Learning', 'Python']

In [3]:
str1='hello im learning python'
words=str1.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())

' '.join(new_words)

'Hello Im Learning Python'

In [6]:
import math
a=[1,2]
b=[5,9]
for i in range(len(a)-1):
    v1=a[i+1]-a[i]
    v2=b[i+1]-b[i]
v11=v1**2
v22=v2**2
math.sqrt(v11+v22)

4.123105625617661

In [12]:
c=[[1,2],[2,3],[3,4]]
val=[2,3]
l1=[]
for i in c:
    l1.append(i)

l1

[[1, 2], [2, 3], [3, 4]]

- append just append the value with base data type
- extend is concatenate the value, and the list will be overwrite with new values
- extend can take any iterable format type i.e. string,list,tuple
- extend and concatenation both are same
- the list will not overwrite in concatenation