## Variables
- Variables are used to store the value
- and the values can be change

In [2]:
number=100 # value 100 stored in a variable name called 'number'
number # shift+enter or ctrl+enter

100

In [3]:
number=200 # value 200 stored in a variable name called 'number'
number

200

**Note**
- Python is step by step process
- Python will take last output as the latest value
- In above code we are using same variable: number
- but number value changed two times
- first time 100
- second time 200
- latest value 200

In [6]:
NUM=300
NUM

300

In [7]:
number, NUM

(200, 300)

In [8]:
number123=400
number123

400

In [1]:
123num=500 # Variable can not start with the number
123num

SyntaxError: invalid decimal literal (3222919564.py, line 1)

In [2]:
nu%m=600 # Variable should not include any specific characters
nu%m

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4219728001.py, line 1)

In [3]:
num one=120 # Variable should not contain space 
num one

SyntaxError: invalid syntax (3347957780.py, line 1)

In [4]:
num_one=130 # Only for underscore it works
num_one

130

In [13]:
_=140
_

140

In [21]:
num=(1,2)
print(type(num))
num

<class 'tuple'>

(1, 2)

In [4]:
n1,n2=20
n1

TypeError: cannot unpack non-iterable int object

## Basic Keywords in python ( For keywords it shows green colour )
- if
- else
- elif
- while
- for
- True
- False

- Python variables are case sensitives
- Variables can be declare as capital letters
- Variables can be declare as small letters
- Variables can not start with numbers (Prefix)
- Numbers can be suffix of the variables
- Variables can not have special characters except **Underscore(_)**
- Variables does not have space between them
- Only underscore is possible
- Keywords or reserved words can not use as variables
- Two values can be assign to a single variable
- One value can not assign to a two variables